/01-starting-project/node_modules
/01-starting-project/build

/03-investment-results/node_modules
/03-investment-results/build
/04-user-list/node_modules
/04-user-list/build
/05-effects-reducers-contexts/node_modules
/05-effects-reducers-contexts/build
/06-usereducer/node_modules
/06-usereducer/build

/11-fud-order/node_modules
/11-fud-order/build

